@using System.Xml.Linq
@using OpenArchive
@model DocumentImageModel
@{ 
    DocumentImageModel m = Model;
}
@{
}
<p class="grad">
    <a href="~/Home/Index" class="nov"><img src="img/ico-home.gif" class="ico-home" alt="" />Открытый архив</a>
    &raquo;
    <a href="~/Home/Index">Фонды</a>
    &raquo;
    @foreach (XElement cnode in StaticObjects.GetCollectionPath(m.id))
    {
        string nm = StaticObjects.GetField(cnode, "http://fogid.net/o/name");
        <a href='~/Home/Portrait?id=@cnode.Attribute("id").Value'>@nm</a>
        <span>&raquo;</span>
    }
    @m.name
</p>

<div class="heading1">
    <h1>@m.name (лист @(m.part_ind + 1) из @m.parts.Length)</h1>
</div>

<div>
    <a href="~/Home/Portrait?id=@m.id">К документу</a>
    |
    @if (m.part_ind > 0)
    {
        string idd = m.parts[m.part_ind - 1].Attribute("id").Value;
        <a href="~/Home/DocumentImage?id=@m.id&eid=@idd">пред.</a>
    }
    else
    {
        <span>пред.</span>
    }
    |
    @if (m.part_ind < m.parts.Length - 1)
    {
        string idd = m.parts[m.part_ind + 1].Attribute("id").Value;
        <a href="~/Home/DocumentImage?id=@m.id&eid=@idd">след.</a>
    }
    else
    {
        <span>след.</span>
    }
</div>

<br />
<div><img src="~/Docs/GetPhoto?s=normal&u=@m.uri" border="0" /></div>

<div>
    <a href="~/Home/Portrait?id=@m.id">К документу</a>
    |
    @if (m.part_ind > 0)
    {
        string idd = m.parts[m.part_ind - 1].Attribute("id").Value;
        <a href="~/Home/DocumentImage?id=@m.id&eid=@idd">пред.</a>
    }
    else
    {
        <span>пред.</span>
    }
    |
    @if (m.part_ind < m.parts.Length - 1)
    {
        string idd = m.parts[m.part_ind + 1].Attribute("id").Value;
        <a href="~/Home/DocumentImage?id=@m.id&eid=@idd">след.</a>
    }
    else
    {
        <span>след.</span>
    }
</div>