
@model ShowModel
@{
    Func<string, string> OntNm = nm => OAData.Ontology.GetOntName(nm);
    Func<string, string> InvOntNm = nm => OAData.Ontology.GetInvOntName(nm);
}

<h1>Show</h1>
<form method="get" action="/Home/Show">
    <input type="text" name="ss" />
    <input type="submit" />
</form>

@if (Model.Vari != null)
{
    foreach (var v in Model.Vari)
    {
        <div>
            <span>@v.Attribute("type").Value</span>
            &nbsp;
            <a href="/Home/Show?id=@(v.Attribute("id").Value)">
                @SObjects.GetField(v, "http://fogid.net/o/name")
            </a>
        </div>
    }
}

@if (Model.Rec != null)
{
    var uri = Model.Rec.fields
        .FirstOrDefault(f => f.prop == "http://fogid.net/o/uri")
        ?.value;
    var docmetainfo = Model.Rec.fields
.FirstOrDefault(f => f.prop == "http://fogid.net/o/docmetainfo")
?.value;
    string documenttype = null;
    if (docmetainfo != null)
    {
        documenttype = docmetainfo.Split(';')
            .FirstOrDefault(part => part.StartsWith("documenttype:"))?.Substring(13);
        string url = docmetainfo.Split(';')
            .FirstOrDefault(part => part.StartsWith("url:"))?.Substring(4);
        string uri_coded = System.Web.HttpUtility.UrlEncode(uri);
        @if (documenttype == "application/pdf" || documenttype == "scanned/dz")
        {
            string src = url == null ? Url.Content("~/Docs/GetPdf?u=" + uri_coded) : url;
            <a href="@src">Посмотреть</a>
            <!--embed src="@src" width="1024" height="800" /-->
        }
        else if (documenttype.StartsWith("image/"))
        {
            string src = url == null ? Url.Content("~/Docs/GetPhoto?u=" + uri_coded + "&amp;s=medium") : url;
            <img src="@src" />
        }
        <div>@documenttype</div>
    }
    <table border="1">
        <tr>
            <td colspan="3"><span style="color:red;">@OntNm(Model.Rec.Tp)</span>  @(Model.Rec.Id)</td>
        </tr>
        @foreach (var tri in Model.Rec.fields)
        {
            <tr>
                <td>@OntNm(tri.prop)</td>
                <td>@tri.value</td>
                <td>@tri.lang</td>
            </tr>
        }

        @foreach (var qq in Model.Rec.inverses)
        {
            <tr>
                <td colspan="3">
                    <span style="color:red;">@(InvOntNm(qq.prop))</span>
                </td>
            </tr>
            @foreach (var r in qq.recs)
            {
                Direct ddirect = r.directs.FirstOrDefault();
                <tr>
                    <td>
                        @for (int i = 0; i < r.fields.Length; i++)
                        {
                            Field f = r.fields[i];
                            <span style="color:green;">@(OntNm(f.prop)): </span>
                            <span>"@(f.value + (string.IsNullOrEmpty(f.lang) ? "" : "@" + f.lang))"</span>
                            @if (i != r.fields.Length - 1)
                            {
                                <span>, </span>
                            }
                        }
                    </td>
                    <td>@(ddirect == null ? "" : OntNm(ddirect.prop))</td>
                    <td>
                        @if (ddirect != null && ddirect.rec != null)
                        {
                            string u = ddirect.rec.fields
                                .FirstOrDefault(f => f.prop == "http://fogid.net/o/uri")
                                ?.value;
                            string dmi = ddirect.rec.fields
                                .FirstOrDefault(f => f.prop == "http://fogid.net/o/docmetainfo")
                                ?.value;
                            if (u != null)
                            {
                                string doctype = dmi?.Split(';')
                                    .FirstOrDefault(met => met.StartsWith("documenttype:"))
                                    ?.Substring(13);
                                if (doctype.StartsWith("image/"))
                                {
                                    <img src="~/Docs/GetPhoto?s=small&amp;u=@(u)" align="right" />
                                }
                                //else if (doctype == "application.pdf") {  }
                                else
                                {
                                    <img src="~/img/document.jpg" align="right" />
                                }
                            }
                            <a href="?id=@ddirect.rec.Id">@('@')</a>
                            @for (int i = 0; i < ddirect.rec.fields.Length; i++)
                            {
                                Field f = ddirect.rec.fields[i];
                                @if (f.prop == "http://fogid.net/o/uri" || f.prop == "http://fogid.net/o/docmetainfo")
                                {
                                }
                                else
                                {
                                    <span style="color:green;">@(OntNm(f.prop)): </span>
                                    <span>"@(f.value + (string.IsNullOrEmpty(f.lang) ? "" : "@" + f.lang))"</span>
                                }
                                @if (i != r.fields.Length - 1)
                                {
                                    <span>, </span>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        }
    </table>
}

