@using System.Xml.Linq
@*using OpenArchive*@
@model PortraitDocumentModel
@{
    PortraitDocumentModel m = Model;
}
<p class="grad">
	<a href="~/Home/Index" class="nov"><img src="~/images/ico-home.gif" class="ico-home" alt="" />Открытый архив</a>
	&raquo;
	<a href="~/Home/Index">Фонды</a>
	&raquo;
    @foreach (XElement cnode in SObs.GetCollectionPath(m.id))
    {
        string nm = SObs.GetField(cnode, "http://fogid.net/o/name");
	    <a href='~/Home/Portrait?id=@cnode.Attribute("id").Value'>@nm</a>
	    <span>&raquo;</span>
    }
	@m.name
</p>

<div class="heading1"> 
<h1>@m.name</h1>
</div>

    @*@if (!string.IsNullOrEmpty(m.uri) && m.contenttype == "image/jpeg")*@
    @if (m.typeid == "http://fogid.net/o/photo-doc" && !string.IsNullOrEmpty(m.uri))
    {
        //string sr = (m.docSrc == null ? "~" : m.docSrc) + "/Docs/GetPhoto?s=medium&u=" + m.uri;
        string sr = "~/Docs/GetPhoto?s=normal&u=" + m.uri;
        //string sr = (SObs.Engine.DaraSrc == null ? "~" : 
        //    SObs.Engine.DaraSrc) + "/Docs/GetPhoto?s=medium&u=" + if;

        <img src="@Url.Content(sr)" />
    }

<table cellpadding="0" cellspacing="0" border="0" width="100%" class="info-document">
    @if (!string.IsNullOrEmpty(m.date))
    {
	<tr valign="top">
		<td width="25%" class="line-name">Дата:</td>
		<td width="75%" class="line-info">@m.date</td>
	</tr>
    }
    @if (!string.IsNullOrEmpty(m.description))
    {
	<tr valign="top">
		<td width="25%" class="line-name">Описание документа:</td>
		<td width="75%" class="line-info">@m.description</td>
	</tr>
    }
    @if (m.parts.Count() > 0)
    {
	<tr>
		<td class="doc-show-small">&nbsp;</td>
        <td class="doc-show-small">
            @foreach (var doc in m.parts)
            {
                if (doc == null) { continue; }
                string nm = SObs.GetField(doc, "http://fogid.net/o/name");
                //var fromuri = doc.Elements("inverse")
                //    .FirstOrDefault(inv => inv.Attribute("prop").Value == "http://fogid.net/o/forDocument");
                //if (fromuri == null) { continue; }
                //XElement rec = fromuri.Element("record");
                //string uri = StaticObjects.GetField(rec, "http://fogid.net/o/uri");
                string uri = SObs.GetField(doc, "http://fogid.net/o/uri");
                string eid = doc.Attribute("id").Value;

                string sr = (m.docSrc == null ? "~" : m.docSrc) + "/Docs/GetPhoto?s=small&u=" + uri;
                //string sr = (SObs.Engine.DaraSrc == null ? "~" : 
                //    SObs.Engine.DaraSrc) + "/Docs/GetPhoto?s=small&u=" + uri;


                <div class="show-small">
                    <a href="~/Home/DocumentImage?id=@m.id&eid=@eid"><img src="@Url.Content(sr)" border="0" vspace="10" hspace="10" alt="" /></a>
                    <br />
                    @nm
                </div>
            }

        </td>
	</tr>
    }
    @if (!string.IsNullOrEmpty(m.doccontent))
    {
        string[] lines = m.doccontent.Split('\n');
	<tr valign="top">
		<td width="25%" class="line-name">Текст документа:</td>
		<td width="75%" class="line-info">
            @foreach (var line in lines)
            {
                <p>
                @line
                </p>
            }
		</td>
	</tr>
    }
    @if (m.reflections.Count() > 0)
    {
    string sep = "";    
	<tr valign="top">
		<td width="25%" class="line-name">Отраженные персонажи:</td>
		<td width="75%" class="line-info">
            @foreach (var who in m.reflections.Where(re => re != null))
            {
                @sep; sep = ","; <a href='~/Home/Portrait?id=@who.Attribute("id").Value'>@SObs.GetField(who, "http://fogid.net/o/name")</a>;

            }
		</td>
	</tr>
    }
    @if (m.authors.Count() > 0)
    {
        string sep = "";
	<tr valign="top">
		<td width="25%" class="line-name">Авторы документа:</td>
		<td width="75%" class="line-info">
           
            @foreach (var au in m.authors)
            {
                @sep; sep = ", ";  // Добавлен разделитель
                <a href='~/Home/Portrait?id=@au.Attribute("id").Value'>@SObs.GetField(au, "http://fogid.net/o/name")</a>;
            }
		</td>
	</tr>
    }
    @if (m.recipients.Count() > 0)
    {
        string sep = "";
    <tr valign="top">
		<td width="25%" class="line-name">Адресаты документа:</td>
		<td width="75%" class="line-info">
            @foreach (var au in m.recipients)
            {
                @sep; sep = ",";  // Добавлен разделитель
                <a href='~/Home/Portrait?id=@au.Attribute("id").Value'>@SObs.GetField(au, "http://fogid.net/o/name")</a>;
            }
		</td>
	</tr>
    }
    @if (m.geoplaces.Count() > 0)
    {
	<tr valign="top">
		<td width="25%" class="line-name">Геоинформация:</td>
		<td width="75%" class="line-info">
            @foreach (var geo in m.geoplaces.Where(g => g != null))
            {
                <a href='~/Home/Portrait?id=@geo.Attribute("id").Value'>@SObs.GetField(geo, "http://fogid.net/o/name")</a>
            }
		</td>
	</tr>
    }
    @if (m.infosource != null)
    {
	<tr valign="top">
		<td width="25%" class="line-name">Источник поступления:</td>
		<td width="75%" class="line-info">
            <a href='~/Home/Portrait?id=@m.infosource.Attribute("id").Value'>@SObs.GetField(m.infosource, "http://fogid.net/o/name")</a>
            @if (m.descr_infosource != null)
            {
            <span>@m.descr_infosource.Value</span>
            }
		</td>
	</tr>
    }
    @if (m.collections.Count() > 0)
    {
	<tr valign="top">
		<td width="25%" class="line-name">Документ входит в коллекции:</td>
		<td width="75%" class="line-info">
            @foreach (XElement coll in m.collections)
            {
                <a href='~/Home/Portrait?id=@coll.Attribute("id").Value'>@SObs.GetField(coll, "http://fogid.net/o/name")</a>
                <br />
            }
		</td>
	</tr>
    }
</table>
<br />

